<style>

    .createProject  .md-fab {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 4rem;
        right: 0;
    }

    .md-dialog-content {
        max-width: 400px;
    }

    .createProject .plus {
        font-size: 40px;
    }


</style>

<div class="createProject">

    <md-button class="md-fab" style="background: #9AACE6; color: white; margin-top: 0px;vertical-align: center;" ng-click="$ctrl.submit()" ng-show="$ctrl.show">
        <md-icon class="material-icons" >create</md-icon>
    </md-button>

</div>