<style>

    * {
        font-family: 'Lato', sans-serif;
    }

    a {
        color: black;
        text-decoration: none;
    }

    a:hover {
        color: white;
    }

    .padded{
        height: 60px;
        background-color: #9AACE6;
    }
    #footerid{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        font-family: 'Lato', sans-serif;
        vertical-align: center;
        text-decoration: none;
        text-align: center;
    }
    
    #impressum{
        margin-right: 20%;
        margin-left: 40%;
    }

    .unten{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        overflow: hidden;
    }

</style>

<div class="unten">
    <div class="padded" md-whiteframe="1" margin-top="auto" layout >
        <div id="footerid">
            <a id="impressum" href="impressum.html">impressum</a>
            <a href="datenschutz.html" >datenschutz</a>
        </div>
    </div>
</div>