<style>
    .list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2em 2em 2em 20em;
    }

    .name {
        font-size: 30px;
        font-weight: bold;
    }

    .beschreibung {
        width: 200px;
        font-size: 20px;
    }

    .title {
        font-size: 35px;
        font-weight: bold;
        padding: 0.5em 0 0 0;
    }
</style>

<div class="title">Alle Gegenstände:</div>

<div class="list" ng-repeat="x in $ctrl.items">
    <a ng-click="$ctrl.submit()">
        <div layout="column">
            <div class="name">{{x.name}}</div>
            <div class="beschreibung">{{x.description}}</div>
            <br>
            <br>
        </div>
    </a>

    <div>{{x.available}}</div>

    <md-button>Ausborgen</md-button>
</div>