<style>

    * {
        font-family: 'Lato', sans-serif;
    }

    .nav-bar {
        display: flex;
        justify-content: space-between;
        background: #9AACE6;
        padding: 2em;
        padding-right: 100px;
        align-items: center;
    }

    .nav-items {
        color: black;
        font-family: Arial;
        font-size: 30px;
        vertical-align: center;
        text-decoration: none;
        text-align: center;
    }

    a:hover {
        color: white;
    }

    img {
        text-align: center;
    }
</style>
<div class="nav-bar">
    <img src="images/CR_Logo_colour.png" height="60"/>
    <a class="nav-items" href="index.html">Home</a>
    <a class="nav-items" href="profil.html">Profil</a>
    <div>
        <login></login>
        <logout></logout>
    </div>

</div>