<form name="$ctrl.register" method="post" action="../../../Backend/registerUser.php">
    <div class="register">
        <span class="funktions-spezifikation">Registrieren</span>
        <md-input-container class="input-container">
            <label>Vorname</label>
            <input required type="text" name="firstname" ng-model="$ctrl.frm_firstname"
                   minlength="3" maxlength="100" ng-pattern="/^[a-zA-Z]+(?:[\s.]+[a-zA-Z]+)*$/"/>
            <div class="messages" ng-messages="$ctrl.register.firstname.$error">
                <div ng-message="pattern">
                    Bitte geben Sie einen gültigen Namen ein
                </div>
                <div ng-message="minlength">
                    Ihr Name muss mindestens 3 Zeichen lang sein
                </div>
                <div ng-message="maxlength">
                    Ihr Name darf maximal 100 Zeichen lang sein
                </div>
                <div ng-message="required">
                    Bitte geben Sie einen Vornamen ein
                </div>
            </div>
        </md-input-container>

        <md-input-container class="input-container">
            <label>Nachname</label>
            <input required type="text" name="surname" ng-model="$ctrl.frm_surname"
                   minlength="3" maxlength="100" ng-pattern="/^[a-zA-Z]+(?:[\s.]+[a-zA-Z]+)*$/"/>
            <div class="messages" ng-messages="$ctrl.register.surname.$error">
                <div ng-message="pattern">
                    Bitte geben Sie einen gültigen Namen ein
                </div>
                <div ng-message="minlength">
                    Ihr Name muss mindestens 3 Zeichen lang sein
                </div>
                <div ng-message="maxlength">
                    Ihr Name darf maximal 100 Zeichen lang sein
                </div>
                <div ng-message="required">
                    Bitte geben Sie einen Nachnamen ein
                </div>
            </div>
        </md-input-container>

        <md-input-container class="input-container">
            <label>Passwort</label>
            <input required type="password" name="password" ng-model="$ctrl.frm_password"
                   minlength="6" maxlength="100"/>
            <div class="messages" ng-messages="$ctrl.register.password.$error">
                <div ng-message="minlength">
                    Ihr Passwort muss mindestens 6 Zeichen lang sein
                </div>
                <div ng-message="maxlength">
                    Ihr Passwort darf maximal 100 Zeichen lang sein
                </div>
                <div ng-message="required">
                    Bitte geben Sie ein Passwort ein
                </div>
            </div>
        </md-input-container>

        <md-input-container class="input-container">
            <label>Passwort wiederholen</label>
            <input required type="password" name="passwordcheck" ng-model="$ctrl.frm_passwordcheck"
                   minlength="6" maxlength="100"/>
            <div class="messages" ng-messages="$ctrl.register.passwordcheck.$error">
                <div ng-message="minlength">
                    Ihr Passwort muss mindestens 6 Zeichen lang sein
                </div>
                <div ng-message="maxlength">
                    Ihr Passwort darf maximal 100 Zeichen lang sein
                </div>
                <div ng-message="required">
                    Bitte verifizieren Sie Ihr Passwort
                </div>
            </div>
        </md-input-container>

        <md-button class="md-raised register-button" ng-disabled="$ctrl.register.$invalid" ng-click="$ctrl.submit()">
            Registrieren
        </md-button>
        <div class="info">
            <br>
            {{$ctrl.info}}
        </div>
    </div>
</form>

